DB_CONNECTION=postgresql://user_user:user_pass@database:5432/postgres

# Admin credentials (constant login/password for admin access via Basic Auth)
ADMIN_LOGIN=admin
ADMIN_PASSWORD=password

YANDEX_CLIENT_ID=""
YANDEX_CLIENT_SECRET=""
YANDEX_LOGIN_URL=https://login.yandex.ru/info

# JWT
JWT_SECRET=""
JWT_ALGORITHM=HS256